.container {
}

.dashboard {
  background-color: brown;
}

.reviews {
  background-color: blue;
}

.rating {
  background-color: aqua;
}

.visitors {
  background-color: red;
}

.analysis {
  background-color: purple;
}

.inner-box {
  background-color: green;
}
